{% extends 'core/base.html' %}

{% block title %}Portfolio{% endblock %}

{% block content %}
  {{pollas}}
  {% for elemento in elementos %}
    <p>Título</p>
    <h1>{{ elemento.title }}</h1>
    <p>Imagen</p>
    <img src="{{ elemento.image.url }}" alt="wat?">
    <p>Descripción</p>
    <h1>{{ elemento.description }}</h1>
    {% if elemento.link %}
    <a href="{{elemento.link}}">Saber Más</a>
    {% endif %}
  {% endfor %}
  <h1>Que pasa Socio, esto es el PORTFOLIO</h1>
  <h2>To flama!</h2>
{% endblock %}
